**/.DS_Store
*.iwl
*.iml
CS4820-Project/journal_utils/journal-csv
CS4820-Project/.idea/workspace.xml
CS4820-Project/.idea/tasks.xml
CS4820-Project/.idea/misc.xml
CS4820-Project/.idea/vcs.xml
CS4820-Project/.idea/
CS4820-Project/.idea
.idea
.idea/
**/.idea/
**/.idea
__pycache__/
*.pyc
*.csv
*.ini
CS4820-Project/.idea/workspace.xml
